<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>
    </head>
    <body>
    <h1> Hello ThirdPartyTrust! </h1>
	<h2> Web App with Python Flask, k3s and EC2! </h1>
    <h3> node IP: {{AGENT_HOST}}</h3>
    <h3> pod IP: {{MY_POD_IP}}</h3>
    </body>
</html>
